
.flexb {
    display: flex;
    flex-direction: column;
    min-height: 95vh;
    z-index: 1000;
}

.content{
    flex: 1 1 auto;
}


body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.menu {
    flex: 0 1 auto;
    position: fixed; 
    top: 0;
    left:0; 
    right: 0; 
    background: rgba(30, 30, 30, 0.45); 
    padding: 5px;
    text-align: right;
    z-index: 1000;
}

.descriptive {
    flex: 0 1 auto;
    position: inherit;
    z-index: 1000;
}

.base {
    flex: 0 1 auto;
    display: flex;
    z-index: 1000;
}

.base > div {
    width: 33.3%;
}

.grid-compass {
    display: grid;
    grid-template-columns: auto initial initial initial auto auto auto auto;
    grid-gap: 3px;
    background-color: rgb(128, 125, 124);
    padding: 3px;
   }
   .grid-compass > div {
    background-color: rgba(163, 167, 167);
    text-align: center;
    padding: 10px 0;
    color:rgba(243, 243, 243, 0.8);
    font-size: 12px;
   }

.invtitle {
    grid-column-start: 6;
    grid-column-end: 8;
}

.invblank {
    grid-column-start: 6;
    grid-column-end: 8;
}

.slot1 {
    grid-column-start: 6;
    grid-column-end: 8;
}

.slot2 {
    grid-column-start: 6;
    grid-column-end: 8;
}

.slot3 {
    grid-column-start: 6;
    grid-column-end: 8;
}

.compassblank {
    grid-column-start: 2;
    grid-column-end: 4;
}

.gblank {

}

.compasscol1{
    min-width: 60px;
}



#checkin{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}