
.flexb {
    display: flex;
    flex-direction: column;
    min-height: 95vh;
    z-index: 1000;
}

.content{
    flex: 1 1 auto;
    min-height: 85%;
}


body {
    background-color:#000;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    animation: fadeInAnimation ease 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    @keyframes fadeInAnimation {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }        
    }

}

.menu {
    flex: 0 1 auto;
    position: fixed; 
    top: 0;
    left:0; 
    right: 0; 
    background: rgba(30, 30, 30, 0.45); 
    padding: 5px;
    text-align: right;
    z-index: 1000;
}

a {
    color: hotpink;
    text-decoration-line: none;
    
  }

.descriptive {
    flex: 0 1 auto;
    /*position: inherit;*/
    z-index: 1000;
    color: rgba(243, 243, 243, 0.8);
    background: rgba(30, 30, 30, 0.45);
    margin: 1%;
    border-radius: 15px;
    padding: 1%;
    width: fit-content;
}

.base {
    flex: 0 1 auto;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
}

.base > div {
    background: rgba(30, 30, 30, 0.45);
    width: auto;
    height: 150px;
}

.grid-compass {
    display: grid;
    grid-template-columns:auto auto auto auto;
    grid-gap: 3px;
    background-color: rgb(128, 125, 124);
    padding: 10px;
    border-radius: 15px;
    margin: 1%;
    min-width: fit-content;
    min-height: fit-content;
    height: max-content;
   }

.grid-compass > div {
    background-color: rgba(163, 167, 167);
    text-align: center;
    color:rgba(243, 243, 243, 0.8);
    font-size: 12px;
    height: max-content;
   }

.compassbtn {
    min-width: 30%;
    margin: 2%;
    height: 95%;
}

.invslot {
    grid-column-start: 5;
    grid-column-end: 7;
}

#innervoice {
    background-color: hotpink;
    height: max-content;
    color: #000;
    z-index: 1001;
}

#checkin{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#lecture{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
}