body {
    background-color: #000;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*font-size: large;*/
}

a {
    text-decoration-line: none;
    color: rgba(243, 243, 243, 0.8);
}

.descriptive, .innervoice, .compassbtn .time, .mtitle {
    font-size: 3.5vmin;
}


.barburger {
    display: inline-block;
    cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #ffffff;
    margin: 6px 0;
    border-radius: 15;
    border: 10%;
}

.fadefromblack {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
    opacity: 1;
    z-index: 9998;
    animation: fadefromblack 7s ease-out forwards;
    pointer-events: none;
}

@keyframes fadefromblack {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.blackin {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
    opacity: 1;
    z-index: 9998;
    animation: blackin 3s ease-out forwards;
    pointer-events: none;
}

.modalish {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
    opacity: 0.75;
    z-index: 9900;
    pointer-events: none;
}

.infoimage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    height: max-content;
    border: 1px black;
    overflow: hidden;
    z-index: 9910;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
}

.infoimage img {
    max-width: 100%;
    max-inline-size: 100%;
    object-fit: cover;
}

@media all and (max-width: 900px) {
    .infospace {
        flex: 4 0px;
    }
    .content {
        order: 1;
    }
    .base {
        order: 2;
    }
}

/*
@media all and (max-width: 900px) {
    .base {      flex-direction: column;
    }
    .grid-compass {
        order: 2;
    }
    .descriptive {
        order: 1;
    /*font-size: x-large;
    }
    .descriptive #title {
        display: none;
    }
    .mtitle {
        display: block;
        /*font-size: x-large;
    }
}
*/


/* Portrait and landscape orientation */
@media screen and (orientation: portrait) {
    .base {
        flex-direction: column;
    }
    .grid-compass {
        order: 2;
    }
    .descriptive {
        order: 1;
        /*font-size: x-large;*/
    }
    .descriptive #title {
        display: none;
    }
    .mtitle {
        display: block;
        /*font-size: x-large;*/
    }
    .descriptive, .compassbtn, .time, .mtitle {
        font-size: 4vmin;
    }  
    .grid-compass {
        min-height: 15vh;
    }  

}

/* Landscape
@media screen and (orientation: landscape) {

}
*/

@keyframes blackin {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.videoplay {
    z-index: 90;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
}

.flex-container {
    justify-content: space-between;
}

.flexb {
    display: flex;
    flex-direction: column;
    /*flex-wrap: wrap;*/
    flex-flow: column;
    min-height: 95vh;
    z-index: 1000;
}

.flexinner {
    display: flex;
    /*flex-direction: column;*/
    /*flex-wrap: wrap;*/
    flex-flow: column;
    justify-content: space-between;
    height: auto;
    z-index: 1000;
}

.header {
    display: flex;
    flex-flow: row;
    background: rgba(30, 30, 30, 0.45);
    width: 100%;
    justify-content: space-between;
    height: 5vh;
    min-height: fit-content;
}

.header > div {
    background: rgba(30, 30, 30, 0.45);
    width: 100%;
}

.time {
    text-align: left;
    color: rgba(243, 243, 243, 0.8);
    justify-content: left;
    /*font-size: 30px;*/
    height: inherit;
    z-index: 1000;
    border: 2px;
    display: none;
    padding: 2px;
}

.menu {
    flex: 0 1 auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 5px;
    text-align: right;
    z-index: 1000;
    justify-content: right;
    height: inherit;
    display: block;
}

.mtitle {
    /*font-size: x-large;*/
    color: rgba(243, 243, 243, 0.8);
    z-index: 1000;
    display: block;
    width: 100%;
    justify-content: center;
}

.content {
    flex: 1 1 auto;
    position: relative;
    min-height: auto;
    width: 100%;
    justify-content: space-around;
}

.info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
    padding: 20px;
    background-color: #f0f0f0;
    text-align: center;
    z-index: 9999;
}

.base {
    margin-top: auto;
    margin-bottom: 10px;
    flex: 0 1 auto;
    display: flex;
    justify-content: space-between;
    min-height: max-content;
    z-index: 1000;
    position: fixed;
    bottom: 0;
}

/*
footer {
    margin-top: auto;
    margin-bottom: 1%;
    flex: 0 1 auto;
    display: flex;
    justify-content: space-between;
    min-height: min-content;
    z-index: 1000;
    height: fit-content;
    position: fixed;
    bottom: 0;
}
*/

/*
.base > div {
    background: rgba(30, 30, 30, 0.45);
    width: auto;
    height: 150px;
} 
*/

.grid-compass {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(3, auto);
    width: auto;
    height: auto;
    grid-gap: 5px;
    background: rgba(30, 30, 30, 0.45);
    padding: 10px;
    border-radius: 15px;
    min-width: 20vw;
    /*
    min-width: fit-content;
    min-height: fit-content;
    */
}

/*
.grid-compass > button {
    width: auto;
    height: auto;
    background-color: rgba(163, 167, 167);
    text-align: center;
    color: rgba(243, 243, 243, 0.8);
    font-size: 12px;
    height: max-content;
}
*/

.compassbtn {
    justify-content: center;
    align-items: center;
    margin: 2%;
    border: 1px;
    padding: 10px;
    border-radius: 5px;
}

.descriptive {
    flex: 0 1 auto;
    z-index: 1000;
    color: rgba(243, 243, 243, 0.8);
    background: rgba(30, 30, 30, 0.45);
    padding: 1.5%;
    border-radius: 15px;
    width: auto;
    justify-content: last baseline;
    height: fit-content;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
   /* font: x-large;*/
}

.descriptive .lastline {
    float: right;
}

.inventory {
    background-color: rgba(163, 167, 167);
    text-align: center;
    color: rgba(243, 243, 243, 0.8);
   /* font-size: 12px;*/
    height: max-content;
    width: 15vw;
}

.invslot {
    grid-column-start: 5;
    grid-column-end: 7;
}

.innervoice {
    width: fit-content;
    height: fit-content;
    padding: 3px;
    background: rgba(30, 30, 30, 0.45);
    color: rgba(243, 243, 243, 0.8);
    margin: 8px;
    border-radius: 15px;
}

.fadefromblack {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
    opacity: 1;
    z-index: 9998;
    animation: fadefromblack 7s ease-out forwards;
    pointer-events: none;
}

@keyframes fadefromblack {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.blackin {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
    opacity: 1;
    z-index: 9998;
    animation: blackin 3s ease-out forwards;
    pointer-events: none;
}

@keyframes blackin {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

/*
#innervoice {
    height: max-content;
    color: #000;   
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
    padding: 20px;
    background-color: #f0f0f0;
    text-align: center;
    z-index: 1001;
}
*/

#checkin {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#lecture {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
}

#infospace {
    min-height: 75%;
    max-height: 100%;
    height: 100%;
}

#title {
    width: 95%;
}

#description {
    width: 95%;
}

#title {
    display: none;
}
